body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f6f7;
  font-family: Arial, sans-serif;
}


    .card {
      width: 380px;
      border: 1px solid #e5e5e5;
      border-radius: 12px;
      text-align: center;
      background: white;
      box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    }

    .card h2 {
  margin: 0;
  padding: 14px;
  font-size: 18px;
  font-weight: 600;
  background: #f3f3f3;     
  border-bottom: 1px solid #e0e0e0;
  border-radius: 12px 12px 0 0;
}


    .content {
      padding: 16px;
    }

    .price {
  font-size: 44px;
  font-weight: 800;
  margin: 10px 0 8px;
  color: #333;
  font-family: 'Arial Black', Arial, sans-serif;
}


    .price span {
  font-size: 18px;
  color: #666;
  font-weight: 600;
}


    .card p {
      margin: 6px 0;
      font-size: 14px;
      font-weight: 600;
      color: #555;
    }

    button {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background: #1f252a; 
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}
